@import "@material/button/mdc-button";
@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/image-list/mdc-image-list";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/top-app-bar/mdc-top-app-bar";

$mdc-theme-primary: rgb(255, 250, 235);
$mdc-theme-secondary: #471c1c;
$mdc-theme-on-primary: #351111;
$mdc-theme-on-secondary: #fff3b1;
$width-height-ratio: (1560/878);
$top-app-bar-height: 80px;
$gutter-size: 15px;

h1,
h2,
h3,
h4,
.mdc-tab__text-label {
    font-family: 'Courier New', Courier, monospace
}

.mdc-tab--active .mdc-tab__text-label {
    font-weight: bolder;
}

body {
    background-color: $mdc-theme-primary;
    color: $mdc-theme-on-primary;
    margin: 0;
    padding: 0;
    overflow-x: hidden
}



.mdc-tab-indicator {
    @include mdc-tab-indicator-underline-color($mdc-theme-on-primary);
}

.mdc-top-app-bar__row {
    height: $top-app-bar-height;
}

.mdc-top-app-bar {
    @include mdc-top-app-bar-fill-color($mdc-theme-primary);
    @include mdc-top-app-bar-ink-color($mdc-theme-on-primary);
    height: $top-app-bar-height;
    // box-shadow: 0px 1px 5px 0px #b7b7b7;
}

body.modal-open {
    overflow: hidden;
    // position: fixed;
}

header.modal-open {
    overflow: hidden;
    display: none;
}

.mdc-top-app-bar__section {
    padding-bottom: 0px;
    padding-top: 0px;
}

.mdc-top-app-bar__section--align-end {
    width: 100px;
}

.mdc-tab {
    @include mdc-tab-text-label-color($mdc-theme-on-primary);
    height: 100%;
}

.video-frame {
    margin: 25px 0 25px 0;
}

#hero-main-section {
    padding-top: $top-app-bar-height;
}

#hero-main-text {
    padding: 150px 0 150px 0;
    text-align: center;
    background-image: url(./media/hero3.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #172b6780;
    color: #ffef99;
}

.first-item {
    padding-top: $top-app-bar-height;
}

.main-image {
    background-color: none;
    height: 600px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

footer {
    background-color: $mdc-theme-secondary;
    color: $mdc-theme-on-secondary;
    padding: 50px;
}

.videos-cell {
    text-align: center;
    align-items: center;
}

#video-list {
    @include mdc-image-list-standard-columns(3, $gutter-size);
    @include mdc-image-list-aspect($width-height-ratio);
    // @include mdc-image-list-standard-columns(5);
}


@media screen {
    @media (max-width: 840px) {
        #video-list {
            @include mdc-image-list-standard-columns(2, $gutter-size);
        }
    }
}

@media screen {
    @media (max-width: 480px) {
        #video-list {
            @include mdc-image-list-standard-columns(1, $gutter-size);
        }
    }
}

.mdc-image-list__image-aspect-container {
    position: relative;
}

.mdc-image-list__image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mdc-image-list__supporting {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.mdc-image-list__image-aspect-container:hover .mdc-image-list__image {
    opacity: 0.3;
    cursor: pointer;
}

.mdc-image-list__image-aspect-container:hover .mdc-image-list__supporting {
    opacity: 1;
    cursor: pointer;
}

.material-icons {
    font-size: 50px
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 10px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100vh;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: none;
    margin: auto;
    padding: 20px;
    width: 75%;
    height: 80%;
}

/* The Close Button */
.close {
    padding: 0 25px 0 0;
    right: 0;
    color: #c5c4c4;
    float: right;
    font-size: 48px;
    font-weight: bold;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: rgb(250, 250, 250);
    text-decoration: none;
    cursor: pointer;
}

#play-icon {
    font-size: 100px;
}


// animation - progress
$colors: (primary: #fff3b1,
secondary: #fff3b1,
danger: #f53d3d,
light: #351111,
dark: #351111);
$mdc-theme-primary: rgb(255, 250, 235);
$mdc-theme-secondary: #471c1c;
$mdc-theme-on-primary: #351111;
$mdc-theme-on-secondary: #fff3b1;

.progress,
progress[value] {
    width: 100%;
    border: none;
    margin: 5px 0;
    height: 5px;
    display: block;
    appearance: none;
    -webkit-appearance: none;

    &::-webkit-progress-bar {
        background-color: none;
    }

    &::-webkit-progress-value {
        background-color: map-get($colors, primary);
    }
}

.progress-materializecss {
    margin: 5px 0;
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: none;
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;

    .indeterminate {
        background-color: map-get($colors, primary);

        &:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            animation: indeterminate 0.75s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }

        &:after {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation-delay: 1.15s;
        }
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

.progress-container {
    position: absolute;
    width: 50vw;
    top: 50vh;
    left: 25vw;
}

.profile {
    width: 100%;
}

a.toggleNav {
    text-decoration: none;
    text-decoration-color: $mdc-theme-secondary;
    font-size: 28pt;
}

@media screen {
    @media (max-width: 840px) {
        .mdc-top-app-bar__section--align-end {
            display: none;
        }

        .mdc-top-app-bar__row .toggleNav {
            float: right;
            display: block;
        }

    }

    @media(max-width: 840px) {
        .mdc-top-app-bar__row.responsive {
            display: block;
        }
        .mdc-top-app-bar__row.responsive .mdc-top-app-bar__section--align-end {
            position: relative;
            display: block;
            background: #fffaeb;
            width: 40%;
            padding: 30px 30%;
        }

        .mdc-top-app-bar__row.responsive .toggleNav {
            position: absolute;
            color: $mdc-theme-secondary;
            right: 0;
            top: 0;
        }

        .mdc-top-app-bar__row.responsive a.mdc-tab {
            float: none;
            display: block;
            text-align: left;
            height: 100%;
            font-size: 14pt;
            padding: 20px;
        }
    }
}